version: 2
updates:
  - package-ecosystem: 'composer'
    directory: '/'
    target-branch: "develop"
    schedule:
      interval: 'daily'

  - package-ecosystem: 'npm'
    directory: '/'
    target-branch: "develop"
    schedule:
      interval: 'daily'
