.prettyjson-container {
    position: relative;
    min-width: 0;
    flex: 1;
}

pre.prettyjson {
    background: var(--color-slate-800);
    color: black;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 0.5rem;
    padding: 10px 20px;
    overflow: auto;
    font-size: 16px;
    position: relative;
}

:is(.dark) pre.prettyjson {
    --tw-border-opacity: 1;
    border: 1px solid rgb(75 85 99 / var(--tw-border-opacity));
    color: rgb(209 213 219 / var(--tw-text-opacity));
}

:is(.dark) pre.prettyjson span.json-key {
    color: var(--color-primary-400) !important;
}

:is(.dark) pre.prettyjson span.json-string {
    color: var(--color-white) !important;
}

:is(.dark) pre.prettyjson span.json-value {
    color: #ffc816 !important;
}

.copy-button {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: var(--color-slate-400);
    border: none;
    outline: none;
    z-index: 50;
    transition-duration: 0.5s;
}

.copy-button:hover {
    color: var(--color-white);
    transition-duration: 0.5s;
}

.copy-button:active,
.copy-button:focus {
    border: none;
    outline: none;
}