name: Sync multiple branches

on:
  workflow_run:
    workflows: [ "Create Release" ]
    types:
      - completed

permissions:
  contents: write

jobs:
  merge-master-to-develop:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Merge master to develop
        run: |
          git checkout develop
          git merge origin/master

      - name: Push changes
        run: git push origin develop
